<div class="indexRow">
  {{!-- <div class="col-auto"> --}}
    <form id="login-form">
      <div class="form-group">
        <label for="email-address" id="email-address1">Email address</label>
        <input name="email" type="email" id="email-address" class="form-control" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

        <label for="passwordInput" id="passwordInput1">Password</label>
        <input name="password" type="password" id="passwordInput" class="form-control" placeholder="Password"><br>

        <br>
        <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
        <a type="button" class="btn btn-outline-dark" id="createAcctBtn" href="/createAccount"><i
            class="fas fa-user-plus"></i>
          Create Account</a>
      </div>
    </form>
  </div>
</div>

<script src="js/login.js"></script>