<header>
  <h1>Login Page</h1>
</header>

<div class="container">
  <div class="col-auto">
    <form id="login-form">
      <div class="form-group">
        <label for="email-address" id="email-address">Email address</label>
        <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

        <label for="passwordInput" id="passwordInput">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password"><br>

        <label>
          <input name="businessSelect" type="checkbox" class="form-check-label" id="businessSelect"> Business Owner?
        </label>
        <br>
        <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
    </form>
    <br>
    <br>
    <button type="button" class="btn btn-outline-dark" id="createAcctBtn">Create Account</button>
  </div>
</div>

<script src="js/login.js"></script>