<<<<<<< HEAD
<script src="js/dashboard.js"></script>

<header>
    <h1>Dashboard</h1>
</header>

<div class="container" id="charts">
    {{salesLineChart}}
</div>
=======
<div class="row">
    <div class="col-auto">
        <div class="charts" id="container" style="width:100%; height:400px;">
            {{salesLineChart}}
        </div>
    </div>
</div>

<script src="js/dashboard.js"></script>
>>>>>>> 97c261bbeb61566d6c6e6d6230b580fa9657dc94
