<div class="row">
    <div class="col-auto">
        <div class="charts" id="container" style="width:100%; height:400px;">
            {{salesLineChart}}


            {{!-- Test Text for Styling & Responsiveness --}}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum efficitur sodales. Nulla
                sollicitudin malesuada suscipit. Nam id ante euismod, vulputate ex ut, tincidunt est. In dapibus tempus
                cursus. Suspendisse et lacus leo. Pellentesque sed orci vehicula, condimentum tortor vel, ullamcorper
                lorem. Sed eu purus sed arcu elementum varius et in mi. Integer consequat diam metus, ut ultrices elit
                suscipit vel.
                <br><br>
                Ut id vulputate nunc, at bibendum nulla. Ut a bibendum ex. Etiam imperdiet tellus tortor, a finibus
                sapien suscipit non. Curabitur aliquet tincidunt augue, vel facilisis felis lacinia vestibulum. Nulla
                quis lacus augue. Mauris finibus in est at ultrices. Orci varius natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Sed nec accumsan odio. Ut et arcu arcu.
                <br><br>
                Mauris scelerisque dapibus diam, porttitor tempor arcu lacinia sit amet. Pellentesque fringilla sapien
                non mattis interdum. Vivamus eu placerat purus, at venenatis enim. Vestibulum maximus massa neque,
                dapibus blandit diam condimentum ut. Cras fermentum maximus nulla, interdum ullamcorper quam pulvinar
                vel. Ut viverra eu ipsum et pretium. Etiam vestibulum volutpat elit eu malesuada.
                <br><br>
                Maecenas eget felis suscipit, convallis velit ultrices, accumsan mi. Donec ut enim tortor. Ut ut euismod
                est. Pellentesque malesuada ornare quam, a luctus erat dapibus ut. Morbi vehicula risus nec convallis
                congue. Phasellus purus justo, accumsan ut vehicula vel, aliquam non lacus. Aliquam quam neque, dapibus
                non justo eget, commodo elementum dolor. Sed tincidunt nunc commodo, euismod ex id, dignissim tellus. In
                ullamcorper, dolor et volutpat dapibus, diam augue consectetur dolor, sit amet accumsan nulla magna eget
                lorem. Vestibulum luctus commodo magna vel dignissim.
                <br><br>
                Cras sed urna ac justo accumsan vehicula. Vivamus molestie condimentum est. Duis vitae metus egestas,
                ultricies est quis, convallis lorem. Quisque ultricies, purus vel finibus imperdiet, quam orci dignissim
                metus, vel facilisis erat dolor interdum lorem. Sed lobortis, justo a eleifend lacinia, ipsum felis
                tempor velit, sed malesuada quam augue a quam. Nullam et tortor feugiat, vestibulum nunc in, vulputate
                tellus. Integer ut pharetra magna.
                <br><br>
                Phasellus tristique purus id ante gravida venenatis. Nunc sodales, tellus quis sollicitudin ullamcorper,
                lacus mauris aliquet augue, quis ultricies est lectus at libero. Nam euismod tincidunt laoreet.
                Phasellus semper lectus vitae arcu tempus ultricies. Nam vitae convallis est, vitae auctor magna. Nam
                porta aliquam faucibus. Aenean ullamcorper laoreet ultrices. Praesent risus sapien, imperdiet non
                faucibus non, pulvinar maximus nunc. Ut vitae orci eros. Maecenas orci metus, ullamcorper sit amet quam
                vel, sagittis imperdiet nulla. Vivamus mollis malesuada tellus, luctus consequat mauris.
                <br><br>
                Nulla euismod id sem vitae sagittis. Integer finibus dapibus massa, sed mollis neque tempor vel.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis et
                dolor vel dui tincidunt eleifend. Phasellus sollicitudin venenatis mollis. Donec ultrices diam in dolor
                aliquet mollis. Sed facilisis, quam nec iaculis consequat, ligula dolor eleifend nulla, eget euismod
                augue risus ut justo.
                <br><br>
                Vestibulum euismod eros pellentesque, aliquet diam eget, tristique orci. Morbi non dui sit amet tortor
                commodo dapibus eget vestibulum tellus. Phasellus neque enim, volutpat nec suscipit at, pharetra vitae
                diam. Morbi dignissim, tellus non ultrices vestibulum, ipsum lorem iaculis orci, ut pulvinar ipsum ante
                in est. Fusce convallis nec lorem sit amet tincidunt. Praesent erat tortor, tempus ac ex vitae,
                pellentesque pulvinar ipsum. Suspendisse ullamcorper nisi odio, cursus congue dui tincidunt et. Proin
                facilisis tortor ut ipsum maximus ultricies.
                <br><br>
                Mauris orci diam, efficitur nec dolor vitae, vestibulum finibus eros. Nam urna erat, semper ac nibh
                venenatis, iaculis convallis odio. Pellentesque eu convallis erat. Suspendisse bibendum lacus sed
                iaculis eleifend. Suspendisse ultrices ante ac sapien consectetur condimentum vitae eget mauris. Mauris
                ac hendrerit libero. In aliquet interdum urna ac hendrerit. Suspendisse potenti. Integer ac finibus
                ipsum. Nunc maximus nulla non varius vulputate. Integer eu consequat purus.
            </p>
        </div>
    </div>
</div>

<script src="js/dashboard.js"></script>