<div class="row">
    <div class="col-auto">
        <div class="charts" id="container" style="width:100%; height:400px;">
            {{salesLineChart}}
        </div>
    </div>
</div>

<script src="js/dashboard.js"></script>