<div class="row">
  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://via.placeholder.com/50" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Item description
        </p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
    {{!-- <br />
    <br /> --}}


    <div class="cards list-group">
      {{#each cards}}
      <a class="list-item flex-row justify-space-between" href="/dashboard/{{id}}">
        <span>{{title}}</span>
        <span>{{}}</span> //
      </a>
      <button type="submit" class="btn">Add to Cart</button>
      {{!-- incomplete...add description/price etc as per relevance --}}
      {{/each}}
    </div>
  </div>
</div>

<script src="js/storeFront.js"></script>