<script src="js/storeFront.js"></script>
<header>
    <h1>Storefront</h1>
</header>
<div class="container">
    <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://via.placeholder.com/50" alt="Card image cap" />

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Item description
                </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>